* {box-sizing: border-box}

/*@media screen and (max-width:800px) {*/

   a {
       display: flex;
   }

    /*.container {*/
    /*    margin: 0;*/
    /*}*/

    .jumbotron {
        height: 346px;
        background-size: cover;
        background-image: url("../img/pizza.png");
        align-items: center;

    }

    /*.text {*/
    /*    background-color: rgba(221, 221, 221, 0.6);*/
    /*    align-self: center;*/
    /*    text-align: center;*/
    /*    width: 100%;*/
    /*    font-size: 40px;*/
    /*}*/
    .signup {
        display: flex;
        align-items: center;
    }
    .image {

        height: 25px;
        width: 25px;





/*}*/