/*//this is how to do the bonus, you need to assign variables to assign different colors to their respective section.
they have to be (var)and not (let),//*/


/*: root{*/
/*    --main-bg-info: #ccdeff*/
/*    --main-text-info: #4a45a1*!*/
/*      --main-bg-success: #CFF3DA*/
/*      --main-text-success: #166B35;*/
/*    --main-bg-warning: #FCFBC9*/
/*    --main-text-warning: #AB9D4E*!*/
/*      --main-bg-error: #CFF3DA*/
/*      --main-text-error: #166B35;*/
/*!*}*!*/

body,html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin:  0;
    font-family: Arial, Ubuntu, sans-serif;
    margin: 10px;
}
.message {
    border: lightgray 1px solid;
    border-radius: 5px;
    width: 100%;
    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 10px;

}
.message-info {

    background-color: #CCDEFF;
    color: #4F4AA4;

}

.message-success {

    background-color: #CFF3DA;
    color: #166B35;

}

.message-warning {

    background-color: #FCFBC9;
    color: #AB9D4E ;

}

.message-error {

    background-color: #FAD2D6;
    color: #8C2940;

}