

.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
    text-align: center;
    font-size: 50px

}
h3.fancy-header {
    color: green;
    text-decoration: underline;
    text-align: left;
    font-size: 30px
}
h2.fancy-header {
    color: black;
    font-size: 40px;
    text-align: left;
}
body{

    font-family: cursive;
   background-color: rgba(255, 255, 0, 0.5);
    background-image: url(../img/CodeupFullColorChevronYT.jpeg);

    background-attachment:  fixed;
    background-position: center;

}
p,li {
    font-weight: bold;
    font-size: 20px;
}
ol {
    list-style: upper-alpha;
}
ul {
    list-style: square;
}

tr {
    color: #e8270e;
    font-size: 30px;
    text-align: left;
}
td {
    //color: red;
    font-size: 30px;
    text-align: center;
    background-color: rgba(19, 197, 89, 0.2);
}
th {
    color: darkblue;
    padding: 0px 50px;
    background-color: rgba(26, 18, 16, 0.2);
}
.footer-link:hover {
    background-color: black;
    color: red;
}

.footer-link:visited {
    color: blue;
}

.footer-link {
    color: green;
}

.footer-link:active {
    background-color: black;
    color: white;
}
hr {
    border-bottom-width: 20px;
    border-color: rgba(21, 13, 10, 0.71);
}